:root {
    /* Primary */

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /*  Neutral */

    --VeryDarkBlue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /*  */
}

body {

    height: 100vh;
    background-color: var(--Very-Light-Gray);
    font-family: 'Poppins', sans-serif;
    font-size: 0.94em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width : 375px) {

    /* Styles here */
    .container {
        max-width: 375px;
        display: table-row !important;

    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Supervisor team-karma calcu";
}

.Supervisor {
    grid-area: Supervisor;
    padding-top: 5rem;
    padding-right: 30px;

}

.team-karma {
    grid-area: team-karma;
}

.calcu {
    grid-area: calcu;
    padding-top: 5rem;
    padding-left: 30px;
}
.team {
    margin-bottom: 30px !important;
}
.karma {
    margin-bottom: 30px;
}